<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header"></div>
    <div id="menu">
      <ul class="buttons">
        <li><a class="btn btn-lg btn-secondary" (click)="gotoSports()">Games</a></li>
        <li><a class="btn btn-lg btn-secondary" (click)="gotoCharities()">Charities</a></li>
        <li><a class="btn btn-lg btn-secondary" (click)="gotoFriends()">Friends</a></li>
        <li><a class="btn btn-lg btn-secondary" (click)="gotoProfile()">Bets</a></li>
        <li><a class="btn btn-lg btn-secondary" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<h1 class="display-3">Friends</h1>
<div class="col text-center">
  <h4>All Users</h4>
  <ul class="allusers">
    <li *ngFor="let user of allUsers" class="friendlist">
      <div class="col">
        <b class="lead">{{user.username}} | {{user.email}}</b>
      </div>
      <div class="col">
        <button (click)="addFriend(user.id)" class="btn btn-primary">Add Friend</button>
      </div>
    </li>
  </ul>
</div>
<ngb-accordion [closeOthers]="true" activeIds="static-1">
  <ngb-panel title="Pending Friend Requests">
    <ng-template ngbPanelContent>
      <ul>
        <li *ngFor="let fr of friendRequests">
          {{fr.username}}
          <button (click)="acceptOrDeclineFriendRequest(fr.id, 'accept')">Accept</button>
          <button (click)="acceptOrDeclineFriendRequest(fr.id, 'reject')">Decline</button>
        </li>
      </ul>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Sent Friend Requests">
    <ng-template ngbPanelContent>
      <ul>
        <li *ngFor="let sfr of sentFriendRequests">
          {{sfr.username}}
        </li>
      </ul>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Friends">
    <ng-template ngbPanelContent>
      <ul>
        <li *ngFor="let f of friends">
          {{f.username}}
        </li>
      </ul>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
