<h1>Welcome to BlueAce</h1>

<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-2 text-right">
      <h2>Username</h2>
    </div>
    <div class="col-3">
        <input class="input-lg" #username value="" type="text" class="form-control" name="username"
               placeholder="Username"
               required=""
               autofocus=""/>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-2 text-right">
      <h2>Password</h2>
    </div>
    <div class="col-3">
      <input #password value="" type="password" class="form-control" name="password" placeholder="Password"
             required=""/>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-2 text-right">
      <h2>Email</h2>
    </div>
    <div class="col-3">
      <input #email value="" type="email" class="form-control" name="email" placeholder="Email"
              required=""/>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-5">
      <button class="btn btn-lg btn-primary btn-block" (click)="login()">Login</button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-5">
      <button class="btn btn-lg btn-primary btn-block" (click)="signup()">Signup</button>
    </div>
  </div>
</div>

