<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="../app.module.ts"></script>
</head>
<body ng-model="main">
<h1>Bets</h1>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Navigate Pages</a>
    </div>
    <div id="menu">
      <ul class="buttons">
        <li><button (click)="goHome()">Home</button></li>
        <li><button (click)="gotoSports()">Sports Games</button></li>
        <li><button (click)="gotoCharities()">Charities</button></li>
        <li><button (click)="gotoFriends()">Friends</button></li>
        <li><button (click)="gotoProfile()">Bets</button></li>
        <li><button (click)="logout()">Logout</button></li>
      </ul>
    </div>
  </div>

</nav>

<ul>
  <li *ngFor="let b of bets">
    {{ b.home_team_abb}}
    {{ b.away_team_abb}}
  </li>
</ul>
<ngb-accordion [closeOthers]="true" activeIds="static-1">
  <ngb-panel title="Pending Bets">
    <ng-template ngbPanelContent>
      <ul>Home Team Score Away Team Score AmountHome AmountAway Charity 1 Charity2<button>Accept Bet</button></ul>
      <ul>Home Team Score Away Team Score AmountHome AmountAway Charity 1 Charity2<button>Accept Bet</button></ul>
      <ul>Home Team Score Away Team Score AmountHome AmountAway Charity 1 Charity2<button>Accept Bet</button></ul>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Ongoing">
    <ng-template ngbPanelContent>
      <ul>Home Team Score Away Team Score AmountHome AmountAway Charity 1 Charity2</ul>
      <ul>Home Team Score Away Team Score AmountHome AmountAway Charity 1 Charity2</ul>
      <ul>Home Team Score Away Team Score AmountHome AmountAway Charity 1 Charity2</ul>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Completed">
    <ng-template ngbPanelContent>
      <ul>Home Team Score Away Team Score AmountHome AmountAway Charity 1 Charity2 Team1 Won!<button>Email Opponent</button></ul>
      <ul>Home Team Score Away Team Score AmountHome AmountAway Charity 1 Charity2 Team2 Won!<button>Email Opponent</button></ul>
      <ul>Home Team Score Away Team Score AmountHome AmountAwayview  Charity 1 Charity2 Team2 Won!<button>Email Opponent</button></ul>
    </ng-template>
  </ngb-panel>
</ngb-accordion>




<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
