<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header"></div>
    <div id="menu">
      <ul class="buttons">
        <li><a class="btn btn-lg btn-secondary" (click)="gotoSports()">Games</a></li>
        <li><a class="btn btn-lg btn-secondary" (click)="gotoCharities()">Charities</a></li>
        <li><a class="btn btn-lg btn-secondary" (click)="gotoFriends()">Friends</a></li>
        <li><a class="btn btn-lg btn-secondary" (click)="gotoProfile()">Bets</a></li>
        <li><a class="btn btn-lg btn-secondary" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<h1 class="display-3">Bets</h1>
<ngb-accordion [closeOthers]="true" activeIds="static-1">
  <ngb-panel title="Unaccepted Bets">
    <ng-template ngbPanelContent>
      <ul *ngFor="let b of bets">
        <div *ngIf="(b.completed===0)">
          <p>Requested: </p>
          Home Score: {{b.home_score}} Away Score: {{b.away_score}} Home Bet: {{b.home_bet}} Away Bet: {{b.away_bet}}
          Charity 1: {{b.home_charity}} Charity2: {{b.away_charity}}
          <button (click)="declineBet(b.id)">Decline</button>
          <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title">Accept Bet</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Pick your charity</p>
              <div class="form-group">
                <p>Charity</p>
                <select class="form-control" [(ngModel)]="charity" (ngModelChange)="changeSelectedCharity($event)">
                  <option *ngFor="let charity of charities" [ngValue]="charity">
                    {{charity.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-light" (click)="acceptBet()">Accept Bet</button>
              <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
            </div>
          </ng-template>
          <button class="btn btn-lg btn-outline-primary" (click)="open(content,b.id)">Accept</button>
        </div>
        <div *ngIf="(b.completed===1)">
          <p>Pending: </p>
          Home Score: {{b.home_score}} Away Score: {{b.away_score}} Home Bet: {{b.home_bet}} Away Bet: {{b.away_bet}}
          Charity 1: {{b.home_charity}} Charity2: {{b.away_charity}}
          <button (click)="declineBet(b.id)">Cancel Bet</button>
        </div>
      </ul>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Ongoing">
    <ng-template ngbPanelContent>
      <ul *ngFor="let b of bets">
        <div *ngIf="(b.completed===2)">
          Home Score: {{b.home_score}} Away Score: {{b.away_score}} Home Bet: {{b.home_bet}} Away Bet: {{b.away_bet}}
          Charity 1: {{b.home_charity}} Charity2: {{b.away_charity}}
        </div>
      </ul>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Completed">
    <ng-template ngbPanelContent>
      <ul *ngFor="let b of bets">
        <div *ngIf="(b.completed===3)">
          <h3>Result</h3>
          <h3>{{b.home_team_abb}} : {{b.home_score}}</h3>
          <h3>{{b.away_team_abb}} : {{b.away_score}}</h3>
          <hr>

          <!-- If user won, show them a congrats message-->
          <div *ngIf="b.winner === userId">
            <h3>You won!</h3>
            <div *ngIf="b.home_user === userId">
              <p>${{b.bet_amount}} was donated to {{getCharityName(b.home_charity)}}</p>
            </div>
            <div *ngIf="b.away_user === userId"><p>${{b.bet_amount}} was donated to
              {{getCharityName(b.away_charity)}}</p>
            </div>
          </div>

          <!--Otherwise, present them with what they should pay-->
          <div *ngIf="b.winner != userId">
            <h3>Sorry, you lost...</h3>
            <div *ngIf="b.home_user === userId"><p>Please donate to {{getCharityName(b.away_charity)}}</p></div>
            <div *ngIf="b.away_user === userId"><p>Please donate to {{getCharityName(b.home_charity)}}</p></div>
          </div>

          <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title">Place Bet</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Something else</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
            </div>
          </ng-template>
          <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Email Opponent</button>
        </div>
      </ul>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
